// Name
color: white;
 font-size: 28px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// AgroTradeNet
color: white;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// FCA
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// In Blunk
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// 150n
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// $26224
color: white;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Name
color: white;
 font-size: 28px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// HarvestHub
color: white;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// EXW
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Big Bag
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// 150n
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// $23164
color: white;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Name
color: white;
 font-size: 28px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// AgrarianLink
color: white;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// DAP
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// In Blunk
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// 150n
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// $20756
color: white;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Name
color: white;
 font-size: 28px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// AgrarianLink
color: white;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// FCA
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Big Bag
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// 150n
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// $18000
color: white;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Name
color: white;
 font-size: 28px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// FarmFusion
color: white;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// DAP
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Cardboard Packaging
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// 150n
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// $22432
color: white;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Name
color: white;
 font-size: 28px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// SeedToSale
color: white;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// FCA
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Big Bag
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// 150n
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// $21665
color: white;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Name
color: white;
 font-size: 28px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// AgroTradeNet
color: white;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// EXW
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Cardboard Packaging
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// 150n
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// $19223
color: white;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Existing bets
color: black;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Price
color: black;
 font-size: 28px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// High
color: #FEFDFB;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 800;
 word-wrap: break-word
---
// Small
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 800;
 word-wrap: break-word
---
// Companies
color: #4D9B45;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Company name
color: #4D9B45;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Product name
color: #4D9B45;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Wheat
color: black;
 font-size: 38px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// MHP: cereals and flakes
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// AgroConnect
color: black;
 font-size: 24px;
 font-family: Noto Sans JP;
 font-weight: 700;
 word-wrap: break-word
---
// Marketplace
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// How It Works
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// About us
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Contact Us
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Help
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// En
color: black;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Max Lyahov
color: black;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// vaxgaming3@gmail.com
color: rgba(0, 0, 0, 0.80);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// My roles
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Manager
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Royal Smak
color: black;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Seller
color: #4D9B45;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Buyer
color: #FAFAFA;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Dashboard
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// My room
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Orders
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Archive
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Log out
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// $2000
color: black;
 font-size: 38px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Bid
color: black;
 font-size: 38px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// 2150
color: black;
 font-size: 38px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Agent Service
color: white;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Logistic
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Select lot
color: black;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// 100n (4)
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 700;
 word-wrap: break-word
---
// 100n (2)
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// 200n
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// 400n
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// 500n
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Package
color: black;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// In Bulk
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 700;
 word-wrap: break-word
---
// Big Bag
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Cardboard Packaging
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Delivery
color: black;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// FCA
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 700;
 word-wrap: break-word
---
// EXW
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// DAP
color: black;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Description
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// All descriptions
color: black;
 font-size: 14px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Lorem ipsum dolor sit amet consectetur. Phasellus turpis ullamcorper pharetra mauris aliquam auctor risus arcu.
color: black;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// Place a bet
color: white;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Footer
color: white;
 font-size: 48px;
 font-family: Raleway;
 font-weight: 700;
 word-wrap: break-word